@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/reset.css/reset.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

